{% extends "base_generic.html" %}

{% block all_lecture %}

    {% if lecture_list %}
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Course Name</th>
            <th scope="col">CRN</th>
            <th scope="col">Day</th>
          </tr>
        </thead>
        <tbody>
        {% for lecture in lecture_list %}
          <tr>
            <td> {{ lecture.course_id }}</td>
            <td> {{ lecture.lecture_crn }}</td>
            <td> {{  lecture.lecture_day }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}