{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ITU Attendance</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container my-4">
      <div class="row justify-content-center">
        <div class="col-md-10 col-sm-12">
          <div class="row">
            <div class="col-6">
              <a href="{% url 'index' %}"> <h1>ITU Attendance Application</h1> </a>
            </div>
            <div class="col-6 text-right">
              {% if user.is_authenticated %}
                <p class="pt-3">Logged in as <strong>{{ user.username }}</strong>. <a href="{% url 'logout' %}" class="btn btn-danger" role="button">Log out</a></p>
              {% else %}
                <a href="{% url 'login' %}" class="btn btn-light" role="button">Log in</a>
                <a href="{% url 'signup' %}" class="btn btn-primary" role="button">Sign up</a>
              {% endif %}
            </div>
          <div>
            {% block login %}{% endblock %}
            {% block signup %}{% endblock %}
            {% block signup_form %}{% endblock %}
          </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div>
        {%  if user.is_student %}
          <h3>Logged as a Student</h3>
          <a href="{% url 'all-lectures' %}" class="btn btn-info" role="button">All courses</a>
          <a href="{% url 'student-lecture' %}" class="btn btn-info" role="button">Enrolled Course</a>
          <a href="{% url 'lecture-enrolment' %}" class="btn btn-info" role="button">Enrolment</a>
          {% block all_lecture %}{% endblock %}
          <br>
          {% block student_course %} {% endblock %}
          <br>
          {% block lectureEnrolment %}{% endblock %}

        {% endif %}
      </div>
  </div>

  </body>
</html>