{% extends 'base_generic.html' %}

{% block lecture_students %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Student No</th>
        <th scope="col">Student Name</th>
      </tr>
    </thead>
    <tbody>
    {% for i in studentcourse_list %}
        <td>{{ i.student_table.student_no }}</td>
        <td>{{ i.student_table.student_name.capitalize }} {{ i.student_table.student_surname.capitalize }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{#   <form method="post" enctype="multipart/form-data">#}
{#     {% csrf_token %}#}
{#    <div class="form-group">#}
{#       <input type="file" class="form-control-file" id="exampleFormControlFile1" name="myfile">#}
{#       <button class="btn btn-primary" type="submit">Upload</button>#}
{#    </div>#}
{#  </form>#}



  <a
      class="btn btn-primary"
      href="{% url 'class-photo-upload' %}">
    upload photo
  </a>
    <button class="btn btn-primary" type="submit">Take Attendance</button>

{% endblock %}